.gif_loading{
    background: url('../../images/loading.gif') no-repeat center;
    width: 20px;
    height: 20px;
    float: left;
}
.mostrar{
    display: block;
}

.oculto{
    display: none;
}
.min450{
    min-height:400px;
    max-height: 850px;
}

/*Modulo*/
.ancla_regresar span{
    margin-left: 1000px;
    margin-right: -50px;
    z-index: 9999;
    position: fixed;
}
/*Modulo*/
#anc_back_modulo span{
    margin-left: 880px;
    margin-right: -50px;
    z-index: 9999;
    position: fixed;
}
.w400{
    width:400px;
}
.w100Percent{
    width: 100%;
}
.w860{
    width: 950px;
}
.w360{
    width: 360px;
}
.disnone{
    display:none;
}
div.clear  { clear: both; }
.bigger-60{font-size:60%}